@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
html {
    user-select: none;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/background.png);
    background-size: cover;
    background-attachment: fixed;
}

.quote {
    font-family: 'Aboreto', cursive;
    font-size: larger;
    text-align: center;
    color: azure;
}

.logo {
    height: 100vh;
    width: 100%;
    background:rgba(66, 66, 66, 0);
    font-family: sans-serif;
    position: relative;
}

nav {
    font-size: larger;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    font-size: larger;
    text-decoration: none;
    color: rgb(243, 247, 225);
    transition: 0.2s ease-in;
}

nav ul li a:hover {
    color: crimson;
}

.img-info {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
}

.info {
    float: right;
    text-align: left;
    padding: 25px;
    margin-right: 1px;
    font-size: 30px;
    border-bottom: 5px solid rgb(255, 255, 255);
}

.about-us {
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
}

.info h1 {
    font-size: 90px;
    width: 600px;
    color: lightgray;
    text-shadow: 6px 6px 9px rgb(0, 0, 0);
}

.info p {
    width: 700px;
    color: crimson;
}

.manifesto {
    background: rgb(0, 0, 0);
    padding: 10px 18px;
    text-decoration: none;
    color: beige;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    box-shadow: 6px 6px 9px rgb(0, 0, 0);
}

.manifesto:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.article-block {
 float: right;
 display: flex;
}
.article-block a {
    padding: 5px;
    margin: 3px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0;
    text-decoration: none;
    color: rgb(243, 247, 225);
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.article-block a:hover {
    font-size: 30px;
    background: linear-gradient(to top, red, rgba(0, 0, 0, 0.5));
    color: rgb(255, 251, 0);
}

.article-block img {
    width: 100px;
    height: auto;
    padding: 20px;
    border-radius: 25px;
}

.article-block h3 {
    width: 240px;
}

.img-box {
    width: 900px;
    height: 1600px;
    padding: 50px;
}

.img-box img {
    align-items: flex-start;
    width: 900px;
    height: auto;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.back-more-img {
    transform: translate(0px, 500px);
    left: 0%;
    position: absolute;
}

.front-img:hover {
    align-items: flex-start;
    width: 900px;
    height: auto;
    transform: scale(110%);
    position: absolute;
    content: url(assets/images/logo-styled-3D.png);}

.back-more-img:hover {
  transform: translate(-10px, 500px);}


.ideology-container h1 {
    text-align: center;
    font-size: 90px;
    width: 600px;
    color: lightgray;
    text-shadow: 6px 6px 9px rgb(0, 0, 0);
}

.ideology-boxes {
    float: left;
    display: flex;
    border-bottom: 5px solid rgb(255, 255, 255);
}
.ideology-box {
    padding: 25px;
    color: rgba(0, 0, 0, 0);
    background: url(assets/images/element.png);
    background-size: cover;
    border-radius: 0px;
    margin: 10px;
    width: 300px;
    height: 400px;
    transition: 0.5s ease-in-out;
}
.ideology-box:hover {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 11px rgb(0, 0, 0);
    background: url(assets/images/elementhover.png);
    background-size: cover;
    width: 800px;
}
.ideology-box img {
    height: 100px;
    width: auto;
    justify-self: center;
}

    footer {
        position: relative;
        bottom: 0;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 120px;
        line-height: 60px;
        background-color: #7979794d;
        color: rgb(255, 255, 255);  
      }

@media only screen and (max-aspect-ratio: 16/10) {
        .front-img:hover {
            align-items: flex-start;
            width: 900px;
            height: auto;
            transform: scale(100%);
            position: absolute;
            content: url(assets/images/logo-styled-3D.png);}
        
        .back-more-img:hover {
          transform: translate(0px, 500px);}
    
          .article-block a {
            font-size: 30px;
            background: linear-gradient(to top, red, rgba(0, 0, 0, 0.5));
            color: black;
        }
    
        .ideology-container {
            align-content: center;
            align-items: center;
            text-align: center;
    }

        .ideology-boxes {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        .ideology-box {
            font-size: 15px;
            color: rgb(255, 255, 255);
            text-shadow: none;
            background: black;
            background-size: cover;
            width: 90%;
            height: auto;
        }
    
        .ideology-box:hover {
            font-size: 15px;
            color: rgb(0, 0, 0);
            text-shadow: none;
            background: rgb(255, 255, 255);
            background-size: cover;
            width: 90%;
            height: auto;
        }
        
        }