.ideology-list {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
}

.ideology {
  display: wrap;
  align-items: center;
  margin: 10px;
  width: 30%;
}

.member-pic {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.ideology-info {
  display: flex;
  flex-direction: column;
}

.ideology-name {
  font-weight: bold;
}
