     :root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);
  --highlight-color: rgb(255, 251, 0);
  --text-color: rgb(0, 0, 0); 
  --header-color: rgb(54, 54, 54);
  --header-text-color: rgb(255, 255, 255);
  --ribbon-color: rgb(52, 52, 52);
  --hover-ribbon-color: rgb(255, 0, 0);
      }
.dark-mode {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --highlight-color: rgb(3, 3, 3);
  --text-color: rgb(255, 255, 255);
  --header-color: rgb(207, 44, 39);
  --header-text-color: rgb(0, 0, 0);
  --ribbon-color: rgb(245, 90, 0);
  --hover-ribbon-color: rgb(0, 0, 0);
  
}
     /* CSS for selection */
     ::selection {background-color: var(--highlight-color);color: var(--text-color);}


     body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--secondary-color);
      }
      /* CSS for the header */
      header {
        background-color: var(--header-color);
        color: var(--header-text-color);
        text-align: center;
        padding: 20px;
      }
      nav {
       background-color: var(--ribbon-color);
       padding: 15px;
       user-select: none;}
      nav li {
       float: left;
    }
      nav ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
    
    }
      nav a {
       color: rgb(255, 255, 255);
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;}
       nav a:hover {
        color: var(--hover-ribbon-color)
      }
      
      
      /* CSS for the main content area */
      main {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 80px);
      }
      /* CSS for the manifesto sections */
      section {
        width: 80%;
        margin: 20px;
        padding: 20px;
        background-color: #7979794d;
        color: var(--primary-color);
        text-align: center;
        border-radius: 25px;
      }
      /* CSS for the manifesto section headings */
      h2 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      /* CSS for the manifesto section paragraphs */
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      /* CSS for the home button */
      .return-button {
           display: inline-block;
           padding: 10px 20px;
           text-align: center;
           text-decoration: none;
           font-size: 16px;
           font-weight: bold;
           color: #fff;
           background-color: rgb(0, 0, 0);
           border-radius: 5px; }
       .return-button:hover {
           color: rgb(255, 0, 0); }
       .dark-mode-element {
           float: right;
           padding: 10px 20px;
           text-align: center;
           text-decoration: none;
           font-size: 16px;
           font-weight: bold;
           color: #fff;
           background-color: rgb(0, 0, 0);
           border-radius: 5px;
           cursor: pointer;
        }
         .dark-mode-element:hover {
           background-color: rgb(255, 255, 255);
           color: black;
        }